APP_ENV=dev
LOG_LEVEL=INFO

# DB
DATABASE_URL=postgresql+asyncpg://tickets:tickets@db:5432/tickets

# Redis
REDIS_URL=redis://redis:6379/0

# Security
JWT_SECRET=change_me_please_to_long_random_string
JWT_ACCESS_TTL_MIN=15
JWT_REFRESH_TTL_DAYS=30

# CORS
CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]
